services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: diabetic_user
      POSTGRES_PASSWORD: diabetic_password
      POSTGRES_DB: diabetic_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
